@charset "utf-8";
/* CSS Document */
h1 small{
font:normal 11px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
header{
	margin:0;
	padding:0;
	}
	
body {
	margin-top: 0px;
}
.box.subset .checkbox {
float: left;
position: relative;
top: 8px;
left: 11px;